
.meta {
    font-family:Monospace;
    font-size:13px;
    text-align:center;
}
    #header {
        position: absolute;
        width: 100%;
        top: 0px;
        padding: 5px;  
    }

    #footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 5px;
    }

#content > * {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
    #intro {
        font-size: 30px;
        padding: 100px;
    }
    #status {
        font-size: 24px;
        padding: 200px;
    }
    #winning-number {
        font-size: 150px;
        color: #ff000036;
    }
    #level {
        font-size: 700px;
        font-weight: bold;
        color: rgba(0,0,0,.03);
    }
    #hilo {
        width: 100%;
        font-size: 40px;
    }
        #lo {
            float: left;
            margin-left: 40px;
        }
        #hi {
            float: right;
            margin-right: 40px;
        }
    #players-guess {
        width: 100%;
        height: 100%;
        font-size: 60px;
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
    }

#timer {
    width: 100%;
    
    position: fixed;
    bottom: 100px;
    
    font-family:Monospace;
    font-size:13px;
    text-align:center;
}
#timer > span {
    padding: 10px;
    background: black;
    color: white;
}

/* Hide the blinking cursor --> https://stackoverflow.com/a/23472096/1525466 */
input{
    color : transparent;
    text-shadow : 0 0 0 #000;
}
input:focus{
    outline : none;
}

/* center the sketch */
html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}